@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --ion-font-family: 'Roboto', sans-serif;

  --ion-color-primary: #193d52;
  --ion-color-primary-rgb: 25,61,82;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #163648;
  --ion-color-primary-tint: #305063;

  --ion-color-secondary: #ee7622;
  --ion-color-secondary-rgb: 238,118,34;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d1681e;
  --ion-color-secondary-tint: #f08438;

  --ion-tabbar-text-color-active: var(--ion-color-secondary);
  --ion-tabbar-text-color: var(--ion-color-secondary-contrast);

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-border-color: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}

ion-menu-toggle {
  ion-button {
    color: var(--ion-color-primary-contrast);
  }
}

.icon-color-primary {
  color: var(--ion-color-primary);
}
.icon-color-primary-contrast {
  color: var(--ion-color-primary-contrast);
}
.icon-color-secondary {
  color: var(--ion-color-secondary);
}
.icon-color-light {
  color: var(--ion-color-light);
}

.fullScreenModal .modal-wrapper {
  --height: 100%;
  --width: 100%;
  --border-radius: 0;
}

.halfScreenModal .modal-wrapper {
  --width: 100%;
  --border-radius: 0;
  top: 50%;
  position: absolute; 
}